body, html {
	height: 100%
}
body {
	font-family: Lato, sans-serif
}
 @media screen {
.hide-screen {
	display: none;
}
}
 @media print {
 @page {
 size: 297mm 210mm; /* landscape */
    /* you can also specify margins here: */
    margin: 10mm;
 margin-right: 20mm; /* for compatibility with both A4 and Letter */
}
.hide-print {
	display: none;
}
.print_spacer {
	margin-top: 35px
}
}
#loader {
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background: #fff;
	z-index: 9999;
	opacity: 1;
}
.loader {
	position: absolute;
	width: 250px;
	margin: 0 auto;
	top: 50%;
	left: 0px;
	margin-top: -60px;
	right: 0px;
	text-align: center
}
.loader p {
	margin: 10px 0;
}
.loader p b {
	font-weight: 700;
}
.loader p span {
	font-size: 12px;
}
.gr-logo span a, footer p a {
	text-decoration: none !important
}
.gr-header {
	background: #f58220 !important;
	box-shadow: none
}
.gr-logo {
	font-size: 26px !important;
	font-weight: 400 !important;
	font-style: normal;
	text-align: right;
	color: #171818;
	margin-bottom: 10px !important;
	font-family: 'Source Sans Pro', sans-serif
}
div.logoicon {
	color: #FFF;
	margin: 0;
	display: inline-block;
	font-size: 18px
}
.gr-logo em {
	font-weight: 700 !important;
	font-style: normal;
	color: #FEFEFE
}
.gr-logo span {
	clear: both;
	display: block;
	color: #171818;
	line-height: 0
}
.gr-logo i {
	font-size: 12px !important;
	font-weight: 400 !important;
	font-style: normal !important
}
.gr-logo span a {
	font-size: 12px !important;
	font-weight: 700 !important;
	font-style: normal
}
a:hover {
	opacity: .9
}
.tokeninput .flex-gt-sm {
	display: flex !important;
	margin: 10px 0 0 !important
}
.tokeninput input {
	color: #FEFEFE;
	border-color: #FFF !important
}
.tokeninput label {
	color: #efefef !important
}
md-select {
	margin: 5px 0 !important;
	color: #666;
	width: 100%;
}
.sidespacer {
	display: block;
	padding: 0px 10px !important
}
.sidespacer h3 {
	margin: 0 !important;
	font-weight: 700;
	font-size: 14px;
	color: #666666;
}
.sidespacer h3:hover {
	color: #171818;
}
.sidespacer h3 span .material-icons {
	color: #f58220 !important
}
footer p a, footer ul li a {
	color: #FFF;
	transition: .3s all ease-in-out
}
.sidespacer h5 {
	text-transform: uppercase;
	margin-bottom: 5px
}
md-input-container input {
	color: #666;
	border-color: #ddd !important
}
.tablecontent table th, .tablecontent table td {
	border: 1px solid #DDDDDD
}
.tablecontent table, .tablecontent table td, .tablecontent table th {
	border-collapse: collapse
}
md-input-container label {
	color: #666 !important
}
.sidespacer .md-errors-spacer {
	display: none !important
}
.sidespacer md-input-container {
	margin: 0 !important
}
.sidespacer .md-button {
	margin: 6px 0px;
	font-size: 11px;
}
md-sidenav {
	min-height: 90vh
}
.tablecontent {
	padding: 15px 15px 100px;
	width: 100%;
	text-align: left
}
.tablecontent table {
	width: 100%
}
.tablecontent table tbody tr:hover td {
	background: #dddddd !important;
}
.tablecontent table th {
	/*    width: 20%;*/
	font-weight: 700;
	background: #efefef;
	padding: 10px;
	font-size: 14px
}
.tablecontent table th:nth-child(1), .tablecontent table td:nth-child(1), .tablecontent table th:nth-child(2), .tablecontent table td:nth-child(2) {
	max-width: 4% !important;
	width: 4% !important;
	text-align: center
}
.tablecontent table th:nth-child(3) {
	max-width: 28% !important;
	width: 34% !important;
}
.tablecontent table td {
	font-weight: 400;
	background: #FFF;
	padding: 5px 10px;
	font-size: 13px;
	line-height: 20px;
}
.tablecontent table td a {
	color: #000000;
	text-decoration: none
}
.tablecontent table td:hover a {
	text-decoration: underline
}
.tablecontent table th i {
	vertical-align: middle
}
.layout-align-start-stretch button {
	text-align: left !important
}
footer {
	position: fixed;
	bottom: 0;
	z-index: 99;
	width: 100%;
	background: #252528;
	padding: 10px 0;
	margin-top: 00px
}
footer .footercontent {
	display: table;
	margin: 0 auto;
	width: 100%;
	padding: 0 10px;
	box-sizing: border-box
}
footer img {
	width: 100px
}
footer p {
	display: table;
	text-align: center;
	color: #FFF !important;
	margin: 5px auto;
	padding: 0;
	font-size: 12px
}
footer ul {
	list-style-type: none;
	display: table;
	margin: 5px 0 0
}
footer ul li {
	list-style-type: none;
	float: left;
	margin: 0 5px
}
footer a:hover {
	color: #f58220 !important;
	transition: .3s all ease-in-out
}
.tl {
	text-align: left !important
}
.tr {
	text-align: right !important
}
.tc {
	text-align: center !important
}
.fl {
	float: left !important
}
.fn {
	float: none !important
}
.fr {
	float: right !important
}
.md-input-focused label {
	opacity: 0 !important
}
.gitlab-report-container {
	padding-bottom: 70px;
	display: table;
	width: 100%;
}
md-sidenav {
	overflow: hidden
}
md-option {
	max-height: 36px !important;
	font-size: 14px !important
}
md-option span {
	font-size: 14px !important
}
.orangetext {
	color: #f58220 !important
}
h5, h4 {
	margin-bottom: 0px
}
/*Accordion*/
.ac-containera {
	min-height: 100vh
}
.ac-head {
	border-bottom: 1px dashed #eee;
	padding: 5px 0;
}
.ac-container label {
	position: relative;
	z-index: 20;
	display: block;
	height: 30px;
	cursor: pointer;
	color: #777;
	text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.8);
	line-height: 33px;
	font-size: 19px
}
.ac-container input:checked + label, .ac-container input:checked + label:hover {
	/* background: #c6e1ec;*/
	color: #3d7489;
	text-shadow: 0px 1px 1px rgba(255, 255, 255, 0.6);/* box-shadow: 0 px 0 px 0 px 1 px rgba(155, 155, 155, 0.3),
0 px 2 px 2 px rgba(0, 0, 0, 0.1);*/
}
.ac-container label:after /*.ac-container input:checked + label:after*/
{
	content: '';
	position: absolute;
	width: 24px;
	height: 24px;
	right: 0px;
	top: 7px;/*background: transparent url(arrow_down.png) no-repeat center center;*/
}
/*.ac-container input:checked + label:after {
    background-image: url(arrow_up.png);
}*/

.ac-container input {
	display: none;
}
.ac-container .ac-small {
	background: rgba(255, 255, 255, 0.5);
	margin-top: -1px;
	overflow: hidden;
	height: 0px;
	position: relative;
	z-index: 10;
	width: 100%;
	transition: height 0.3s ease-in-out,  box-shadow 0.6s linear;
}
.ac-container input:checked ~ .ac-small {
	transition: height 0.5s ease-in-out;
}
.ac-container .ac-small p {
	font-style: italic;
	color: #777;
	line-height: 23px;
	font-size: 14px;
	padding: 20px;
	text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.8);
}
.ac-container input:checked ~ .ac-small.ac-small {
	height: auto;
}
.ac-container input:checked ~ .ac-small.ac-medium {
	height: 180px;
}
.ac-container input:checked ~ .ac-small.ac-large {
	height: 230px;
}
 body::-webkit-scrollbar {
 width: .3em;
}
 body::-webkit-scrollbar-track {
 -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
 body::-webkit-scrollbar-thumb {
 background-color: darkgrey;
 outline: 1px solid slategrey;
}
.sidespacer {
	min-height: 100vh
}
.totaltimevalue {
	display: table;
	max-width: 100%;
	margin-bottom: 20px;
	float: right;
	width: 100%;
	margin-top: 10px;
}
.totaltimevalue ul {
	padding: 0;
	margin: 0;
	list-style-type: none;
}
.totaltimevalue ul li {
	float: left;
	width: 50%;
	padding: 10px;
	text-align: right;
	border-width: 0px;
	border-style: solid;
	border-color: #ccc;
	border-collapse: collapse;
	font-size: 14px;
	background: #bdc3c7;
	min-height: 18px;
	color: #FFFFFF;
	box-sizing: border-box;
	margin: 0;
	font-weight: bold;
}
.totaltimevalue ul li.totaltimevaluetd {
	text-align: left;
	font-weight: bold;
}
.totaltimevalue ul li:first-child, .totaltimevalue ul li:first-child +li {
	background: #ecf0f1;
	color: #bdc3c7;
}
md-switch.md-default-theme.md-checked .md-thumb, md-switch.md-checked .md-thumb {
	background: #f58220;
}
md-switch.md-default-theme.md-checked .md-bar, md-switch.md-checked .md-bar {
	background: rgba(245,130,32,0.5)
}
/*CardBox*/
.cardbox {
	display: inline-block;
	float: left;
	background: #FFFFFF;
	padding: 8px;
	position: relative;
	box-shadow: 0 10px 10px -10px #ccc;
	margin: 10px;
	transition: 300ms all ease-in-out;
	border: 1px solid #ffffff;
	box-sizing: border-box;
}
.cardbox:hover {
	box-shadow: 0 10px 15px -10px #aaa;
	background: #fefefe;
	transition: 300ms all ease-in-out;
	border: 1px solid #efefef;
}
.cardtitle {
	font-size: 14px;
	font-weight: bold;
	padding: 0 30px 10px 0;
	width: 199px;
	height: 50px;
}
.cardtitle a {
	color: #f58220!important
}
.cardiid {
	position: absolute;
	right: 0;
	top: 0;
	background: #f58220!important;
	padding: 5px;
	font-size: 13px;
	color: #FFFFFF;
}
.cardtimedate {
	font-size: 13px;
}
.cardtimedate i {
	font-size: 16px!important;
	vertical-align: bottom!important;
}
.cardtimedate .cardspent, .cardtimedate .cardest, .cardtimedate .carddate {
	padding: 3px 0;
}
/*Responsive Table */
.res-table tr {
	border-top: 0px solid #ddd;
	border-bottom: 0px solid #ddd;
}
.res-table th {
	display: none;
}
.res-table td {
	display: block;
}
.res-table td:first-child {
	padding-top: .5em;
}
.res-table td:last-child {
	padding-bottom: .5em;
}
.res-table td:before {
	content: attr(data-th) ": ";
	font-weight: bolder;
	width: 100px;
	display: inline;
	padding: 5px 0;
	font-size: 14px;
}
button.togglefilters {
	display: none;
}
.para-text {
	font-size: 14px;
	line-height: 22px;
	color: #666666
}
.orangebtn {
	background: #f58220 !important;
	color: #FFFFFF!important;
	font-size: 13px;
	text-transform: capitalize;
	margin: 10px 10px 10px 0
}
a.orangebtn .fa.fa-2x {
	color: #FFFFFF!important;
	font-size: 22px;
}
.tourbtn {
	margin-left: 0;
	display: block
}
.tablecontent {
	max-width: 80%;
}
md-sidenav {
	width: 20%;
}
.res-table, .issuedetail_box{
	display: block;
	clear:both
}
.issuedetail_box{
	page-break-before: auto!important; 
	page-break-after: auto!important; 
	page-break-inside: avoid!important; 
	position: relative!important;
}
.issuedetail_description img {
	page-break-before: auto; 
	page-break-after: auto; 
	page-break-inside: avoid; 
	position: relative;
	max-width: 50%!important;
	width: 50%!important;
}
.md-select-menu-container{
	left: inherit!important;
    right: 0;
    min-width: 17.7%!important;
	z-index: 99
}
@media (max-width: 1024px) {
.md-select-menu-container{
	min-width: 50%!important;
	width: 50%!important;
    right: 0;
    left: inherit!important;
}
.issuedetail_description img {
	width: 100%!important;
	max-width: 100%!important;
}
}
@media (min-width: 480px) {
.res-table td:before {
	display: none;
}
}
.res-table th, .res-table td {
	text-align: left;
}
@media (min-width: 480px) {
.res-table th, .res-table td {
	display: table-cell;
	padding: .25em .5em;
}
.res-table th:first-child, .res-table td:first-child {
	padding-left: 0;
}
.res-table th:last-child, .res-table td:last-child {
	padding-right: 0;
}
}
@media (max-width: 640px) {
.md-select-menu-container{
	min-width: 50%!important;
	width: 50%!important;
	right: 0;
	left: inherit!important;
}	
.issuedetail_id, .issuedetail_url, .issuedetail_rdate, .issuedetail_cdate, .issuedetail_status {
	width: 100%;
	margin-bottom: 5px;
	display: block;
}
section.ac-container {
	overflow-y: scroll;
	height: 77vh;
	overflow-x: hidden;
}
.main-heading {
	margin-bottom: 10px
}
.printheading {
	margin-top: 10px
}
.mt-5 {
	margin-top: 0!important;
	margin-bottom: 10px!important;
}
footer {
	padding: 10px 0;
}
.footercontent p.uppercase.semibold, .footercontent p.uppercase.semibold.copyright {
	margin: 0!important;
}
.issuedetail_description p, .issuedetail_url a {
	word-break: break-word;
}
.gr-header {
	position: fixed;
	width: 100%;
}
.tablecontent {
	padding-top: 60px;
}
.sidenavfilter.togglefiltershow {
	margin-top: 56px;
	position: fixed!important;
}
.tablecontent table th:nth-child(1), .tablecontent table td:nth-child(1), .tablecontent table th:nth-child(2), .tablecontent table td:nth-child(2) {
	max-width: 100% !important;
	width: 100% !important;
	text-align: left!important;
	box-sizing: border-box!important;
}
.tablecontent table tbody tr:hover td {
	background: #FFFFFF!important;
}
.res-table tr {
	margin: 0px 0 15px;
	display: block;
	width: 100%;
}
.res-table th, .res-table td {
	padding: .25em .5em!important;
}
.res-table td:nth-child(1) {
	background: #f58220;
	color: #FFFFFF
}
.tablecontent table tbody tr:hover td:nth-child(1) {
	background: #f58220!important;
	color: #FFFFFF!important
}
.res-table td:nth-child(1):before {
	width: 35px;
}
}
 @media(max-width: 480px) {
.logoicon {
	display: none!important
}
.gr-logo {
	font-size: 18px!important;
}
.cardtitle {
	width: inherit!important;
	height: inherit!important;
}
}
 @media(max-width: 640px) {
.cardbox {
	width: 100%;
	min-width: 100%;
}
}
@media (max-width: 968px) {
md-content {
	overflow: inherit;
}
.tablecontent {
	padding-bottom: 80px!important;
}
footer {
	padding: 15px 0;
}
.footercontent p.uppercase.semibold {
	margin: 0 auto 0px!important
}
footer ul {
	margin: 0!important;
	padding: 0!important
}
md-sidenav {
	position: absolute!important;
	right: 0;
	left: inherit;
	min-height: 100vh!important;
}
.tablecontent table th i {
	display: none !important
}
/*    .footercontent .tl.fl, .footercontent .social-icons, .footercontent p.uppercase.semibold {
        display: table;
        margin: 0 auto 10px;
        float: none !important;
        text-align: center;
    }
*/
.tokeninput {
	display: none !important
}
}
 @media (max-width:872px) {
.tablecontent {
	box-sizing: border-box;
}
md-sidenav {
	display: none!important;
}
.sidenavfilter.togglefiltershow {
	display: block!important;
	transform: none!important;
}
button.togglefilters {
	display: block!important;
}
.tablecontent {
	max-width: 100%!important;
}
md-sidenav {
	width: 50%;
}
}
 @media (max-width:568px) {
h1.gr-logo {
	font-size: 18px!important
}
h1.gr-logo .logoicon {
	display: none
}
.footerlogo {
	display: none!important
}
.copyright {
	margin: 0;
	text-align: left;
}
.tablecontent td span.ng-binding {
	float: right;
}
.totaltimevalue {
	width: 100%!important;
	margin-bottom: 0!important
}
.totaltimevalue ul li {
	font-size: 13px!important;
}
}
.overlaytour {
	border-radius: 50%;
	height: 80px;
	margin-left: -40px;
	margin-top: -38px;
	position: fixed;
	width: 80px;
	z-index: 100;
	-webkit-animation: fade-in .3s normal 1 cubic-bezier(0, 0, .2, 1);
	animation: fade-in .3s normal 1 cubic-bezier(0, 0, .2, 1);
	right: 170px;
	top: 160px;
}
.tourtext {
	color: #fff;
	cursor: default;
	position: absolute;
}
.tourblank {
	height: 24px;
	margin: auto;
	width: 24px;
	z-index: 1;
}
.overlaytour:after, .tourblank {
	border-radius: 50%;
	bottom: 0;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
}
.textdiv {
	font-size: 16px;
	line-height: 1.5;
	width: 250px;
	position: absolute;
	right: 50px;
}
.gotitbtn {
	font-size: 14px;
	margin: 16px 0px;
	pointer-events: auto;
	clear: both;
	display: block;
}
.overlaytour.darkbg:before {
	border-color: rgba(0, 0, 0, .8) !important;
}
.overlaytour:before {
	background: transparent;
	border: solid 8192px #fff;
	border-radius: 50%;
	content: '';
	display: block;
	height: 80px;
	margin-top: -8192px;
	margin-left: -8192px;
	opacity: .9;
	position: absolute;
	width: 80px;
}
.overlaytour:after, .tourblank {
	border-radius: 50%;
	bottom: 0;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
}
.overlaytour:after {
	border: solid 1px #fff;
	box-shadow: inset 0 2px 16px rgba(0,0,0,.3);
	content: '';
	display: block;
}
@media (max-width:360px) {
.overlaytour {
	display: none!Important
}
}
@media (max-width:872px) {
.overlaytour {
	right: 5px;
	top: 45px;
	width: 40px;
	height: 40px;
}
.overlaytour:before {
	width: 40px;
	height: 40px;
}
.textdiv {
	font-size: 13px;
	line-height: 1.5;
	width: 200px;
	position: absolute;
	right: 20px;
	top: 70px;
}
.textdiv button {
	margin: 20px 0;
}
}
.fa.fa-gitlab.fa-2x {
	font-size: 1.7em!important
}
/* Project Report */
.printheading {
	margin-top: 0;
	color: #f58220 !important;
	font-size: 22px;
	text-transform: capitalize;
	padding: 10px 0;
	float: left;
	width: 100%;
	box-sizing: border-box;
}
.issuedetail_box {
	width: 100%;
	float: left;
	padding: 20px 10px;
	margin: 0px;
	box-sizing: border-box;
	font-size: 14px;
	;
	border-bottom: 1px solid #dddddd;
	color: #666666
}
.issuedetail_box:hover {
	background: #FEFEFE
}
.issuedetail_title {
	color: #f58220 !important;
	font-size: 18px;
	margin-bottom: 10px;
	margin-top: 0;
	font-weight: bold;
}
.issuedetail_description p {
	color: #666666 !important;
	font-size: 14px;
	margin-bottom: 10px;
	margin-top: 0;
	font-weight: normal;
	line-height: 20px
}
.issuedetail_description img {
	width: auto;
	max-width: 100%;
	border: 1px solid #DDDDDD;
	padding: 10px;
	background: #EEEEEE;
	box-sizing: border-box;
}
.issuedetail_description ul, .issuedetail_description ol {
	padding-left: 20px
}
.issuedetail_description ul li, .issuedetail_description ol li {
	margin-bottom: 10px;
}
.issuedetail_description pre {
	width: 100%;
	overflow-x: auto;
}
.issuedetail_description p em {
	font-style: normal;
	color: #2e2e2e!important;
	font-weight: bold;
	text-transform: capitalize;
}
.issuedetail_description p a, .issuedetail_description li a {
	color: #666666;
}
.issuedetail_id, .issuedetail_url, .issuedetail_rdate, .issuedetail_cdate, .issuedetail_status {
	display: inline-block;
	margin-right: 5px;
	font-weight: bold;
	font-size: 14px;
	color: #2e2e2e;
	text-transform: capitalize;
}
.issuedetail_id span, .issuedetail_url span, .issuedetail_rdate span, .issuedetail_cdate span, .issuedetail_status span {
	font-weight: normal;
	color: #333333;
	font-size: 14px;
}
.issuedetail_url {
	margin-bottom: 10px;
}
.issuedetail_url a {
	color: #333333;
	font-size: 14px;
	text-decoration: none!important;
	text-transform: lowercase;
}
.issuedetail_url a:hover {
	color: #f58220 !important
}
.align-left {
	text-align: left!important;
}
.issuedetail_box .material-icons {
	font-size: 21px
}
.material-icons {
	vertical-align: middle
}
.mt-5 {
	margin-top: 1rem;
	margin-bottom: 1rem;
}
.issue-details-wrapper {
	background: #FFFFFF;
	display: inline-block;
	padding: 0;
	border: 1px solid #dddddd;
	width: 100%;
}
.main-heading {
	margin-bottom: 0
}
/* PRINT */
@media print {
.issuedetail_box{
	page-break-before: auto!important; 
	page-break-after: auto!important; 
	page-break-inside: avoid!important; 
	position: relative!important;
	}
.issuedetail_description img {
	page-break-before: auto; 
	page-break-after: auto; 
	page-break-inside: avoid; 
	position: relative;
	max-width: 50%!important;
	width: 50%!important;
}	
.main-heading {
	margin-bottom: 0
}
.totaltimevalue ul li {
	width: 160px;
	text-align: left;
	padding: 5px 0
}
.totaltimevalue ul li:nth-child(1) {
	color: 222222;
}
.totaltimevalue ul li:nth-child(2), .totaltimevalue ul li:nth-child(4) {
	width: 70px;
	color: #bdc3c7
}
.totaltimevalue ul li:nth-child(3) {
	border-left: 1px solid #bdc3c7;
	padding-left: 20px;
	color: #222222;
}
.totaltimevalue {
	margin-bottom: 0;
}
}

table.issue-list tbody td.state {
	text-transform: capitalize;
}

